@tailwind base;
@tailwind components;
@tailwind utilities;

.p-1 {
  @apply text-center lg:text-start text-base md:text-xl font-normal leading-[1.625rem] md:leading-[1.875rem]
}

.card-shadow{
  box-shadow: 5px 11px 25px 1px rgba(0, 0, 0, .4);
}

.form-shadow{
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
}

.menu-shadow{
  box-shadow: 0px 15px 25px 0px rgba(56, 66, 85, 0.25);
}

.overflow {
  overflow-x: hidden;
}

.image-container {
  transition: background-image 0.5s ease-in-out;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
